.navbar {
    background-color: #4c555d; /* Màu nền của Navbar */
    height: 70px !important;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #ffffff; /* Màu chữ của các liên kết */
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #adb5bd; /* Màu chữ khi hover */
  }
  
  .navbar .navbar-nav .nav-link.active {
    color: #ffffff; /* Màu chữ cho liên kết hiện tại */
  }
  
  .navbar .navbar-nav .nav-link.text-light {
    color: #ffffff; /* Màu chữ cho liên kết Đăng Nhập */
  }
  
  .navbar .navbar-nav .ms-auto {
    margin-left: auto; /* Đẩy Đăng Nhập sang góc phải */
  }